<html>
<head>
</head>
<body bgcolor="#FFEFD5">
<p align="center"><h1><font color="LIGHTBLUE"><b>L'ISOLA D'ELBA</b></font></h1></p>
<hr color="RED">
<p align="center"><h2>una delle possibili mete al viaggio d'istruzione durante il primo anno dell'<font color="BLUE">I.I.S GALILEO GALILEI</font> e' l'isola d'Elba</p>
<a href="costi.html"><img src="http://image.nanopress.it/625X0/soldi/nanopress/it/img/conto-corrente-cambiarlo-conviene.jpg" with"600" height"600" hspace="35" vspace="35></a>


</body>
</html>
